* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 66.5%;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    transition: all 0.5s;
    overflow-x: hidden;
}

#button {
    font-size: 1.5rem;
    border-radius: 50px;
}

p {
    font-size: 1.5rem;
}

.main-banner {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.pexels.com/photos/3727464/pexels-photo-3727464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: unset;
}

.main-banner h1 {
    padding-top: 25px;
    font-size: 8rem;
    font-weight: 500;
    color: white;
}

.main-banner h2 {
    font-size: 6rem;
    font-weight: 500;
    color: white;
}

.service_years img {
    max-width: 450px;
    max-height: 350px;
}

.service_years h2 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 10px;
}

.products {
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/3184464/pexels-photo-3184464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: cover;
}

.products h2 {
    font-size: 4rem;
    color: white;
    font-weight: 500;
    margin-top: 20px;
}

.body {
    display:grid;
/*     place-items:center; */
    height: 100%;
}

.card-container {
    overflow-y: hidden;
    position: relative;
    border-radius: 15px;
    max-width: 650px;
    height: 300px;
    text-align: center;
}

.card-container h3 {
    position: absolute;
    top: 40px;
    left: 8px;
    font-size: 20px;
    display: none;
}

.card-container h2 {
    position: absolute;
    top: 100px;
    left: 10px;
    font-size: 26px;
    text-align: center;
    color: black;

    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);

    transform-origin:center;
    transform:perspective(800px) rotateY(25deg);
    transition:0.5s;
}

.card-container p {
    position: absolute;
    top: 115px;
    left: 10px;
    font-size: 14px;
    display: none;
    width: 80%;
}

.info_img {
  width: 100%;
  height: 100%;
  object-fit:cover;

  opacity: 0.80;

  -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);

  transform-origin:center;
  transform:perspective(800px) rotateY(25deg);
  transition:0.5s;
}
.container1 {
  max-width:600px;
  min-height:350px;

  overflow-y: hidden;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;

}

.container1:hover img {
  opacity:0.3;
}

.card-container:hover h3, .card-container:hover p, .card-container:hover img {
    display: inline;
    opacity: 1;
    transform:perspective(800px)       rotateY(0deg);
}

.card-container:hover img {
    opacity: 0.80;
}

.card-container:hover h2 {
    display: none;
}

.contact img {
    width: 450px;
    height: 350px;
}

form label {
    font-size: 1.5rem;
}

#up-button {
    position: fixed;
    bottom: 30px;
    right: -100px;
    background-color: white;
    border-radius: 50%;
    transition: all 1s;
}

@media screen and (max-width: 1160px) {

    .main-banner {
        height: 50vh;
    }

    .main-banner h1 {
        font-size: 7rem;
        font-weight: 500;
        color: white;
    }

    .contact img {
        width: 600px;
        height: 400px;
    }

    .container1 {
        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;

    }

    .card-container {
        max-width: 400px;
        height: 300px;
    }

    .card-container h2 {
        position: absolute;
        top: 105px;
        left: 25px;
        font-size: 26px;
        text-align: center;
        color: black;
    }

}

@media screen and (max-width: 1024px) {


    .container1 {

        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;

    }

    .card-container {
        max-width: 400px;
        height: 300px;
    }

    .card-container h3 {
        position: absolute;
        top: 35px;
        left: 10px;
        font-size: 30px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 120px;
        left: 15px;
        font-size: 18px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 991px) {
    .service_years img {
        width: 550px;
        height: 350px;

    }

    .container1 {

        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;

    }

    .card-container {
        max-width: 400px;
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .main-banner {
        height: 50vh;
    }

    .main-banner h1 {
        font-size: 5rem;
    }
    
    .main-banner h2 {
        font-size: 4rem;
    }

    .service_years img {
        width: 100vw;
        height: 250px;
        margin-bottom: 20px;
    }

    .products h2 {
        text-align: center;
    }

    .contact {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    .contact img {
        width: 450px;
        height: 350px;
    }
    .contact-form {
        width: 100vw;
    }

    .container1 {

        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;

    }

    .card-container {
        max-width: 400px;
        height: 350px;
    }

    .card-container h3 {
        position: absolute;
        top: 35px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 120px;
        left: 15px;
        font-size: 14px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 540px) {
    .main-banner {
        background-position: center;
        height: 70vh;
    }

    .service_years {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .service_years img {
        max-width: 380px;
        max-height: 280px;
        margin-bottom: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact img {
        width: 450px;
        height: 350px;
    }

    .container1 {

        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;

    }

    .card-container {
        max-width: 350px;
        height: 300px;
    }

    .card-container h3 {
        position: absolute;
        top: 35px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 110px;
        left: 15px;
        font-size: 14px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 470px) {
    .main-banner {
        height: 100vh;
    }

    .service_years img {
        max-width: 320px;
        max-height: 220px;
        margin-bottom: 20px;
    }

    .contact img {
        width: 250px;
        height: 250px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .container1 {

        overflow-y: hidden;

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;

    }

    .card-container {
        max-width: 300px;
        height: 350px;
    }

    .card-container h3 {
        position: absolute;
        top: 50px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 150px;
        left: 15px;
        font-size: 14px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 415px) {
    .main-banner {
        height: 90vh;
        text-align: center;
    }

    #main-banner__content {
        padding: 0px !important;
        margin-left: 20px;
    }

    #main-banner__content h1 {
        font-size: 3.8rem;
        text-align: center;
    }

    #main-banner__content h2 {
        font-size: 3rem;
        margin-top: 10px;
        text-align: center;
    }

    .service_years img {
        max-width: 250px;
        max-height: 150px;
        margin-bottom: 20px;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .contact img {
        width: 200px;
        height: 200px;
    }

    form {
        padding: 0;
    }

    .card-container h3 {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 140px;
        left: 15px;
        font-size: 14px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 383px) {
    #phone-icon {
        margin-top: 20px;
    }

    #phone-icon p {
        margin-right: 75px;
    }

    .card-container h3 {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 140px;
        left: 15px;
        font-size: 14px;
        display: none;
        width: 80%;
    }
}

@media screen and (max-width: 375px) {
    #phone-icon {
        margin-top: 20px;
    }


    #phone-icon p {
        margin-right: 40px;
    }

    .card-container h3 {
        position: absolute;
        top: 45px;
        left: 15px;
        font-size: 20px;
        display: none;
    }

    .card-container p {
        position: absolute;
        top: 140px;
        left: 15px;
        font-size: 14px;
		display: none;
        width: 80%;
    }
}
